<html lang="en">
  {{> header}}
  <body style="margin: 0rem">
    {{> navbar}}

    <table
      style="
        font-size: 1rem;
        padding: 2rem;
        background-color: #fefefe;
        width: 100%;
        color: #000000;
      "
    >
      <tr>
        <td style="padding-bottom: 1rem">Hi {{userFullName}},</td>
      </tr>

      <tr>
        <td>
          We received a request to reset your password. You can reset your
          password by clicking the link below.
        </td>
      </tr>

      <tr>
        <td
          style="
            padding: 1rem 0rem 1rem 1.5rem;
			      font-size: 1.2rem;
            color: #469942;
            text-decoration: none;
          "
        >
          <a href="{{userLink}}">
            Reset Password</a>
        </td>
      </tr>

      <tr>
        <td style="padding-bottom: 1rem">
          If you did not make this request you can ignore this message or
          contact us if you are concerned about potential fraud on your account.
        </td>
      </tr>

      <tr>
        <td>Sincerely,</td>
      </tr>
      <tr>
        <td>JayCloud Customer Support</td>
      </tr>
    </table>

    {{> fixAppleMailNonHTMLBug}}
  </body>
</html>