<html lang="en">
  {{> header}}
  <body style="margin: 0rem">
    {{> navbar}}

    <table
      style="
        font-size: 1rem;
        padding: 2rem;
        background-color: #fefefe;
        width: 100%;
        color: #000000;
      "
    >
      <tr>
        <td style="padding-bottom: 1rem">Hi {{userFullName}},</td>
      </tr>

      <tr>
        <td>
          We've received a request to reset your password. You can reset it by
          clicking the button below and following the instructions that will be
          presented to you.
        </td>
      </tr>

      <tr>
        <td
          style="
            padding: 1rem 0rem 1rem 1.5rem;
			      font-size: 1.2rem;
            color: #469942;
            text-decoration: none;
          "
        >
          <a href="{{userLink}}">
            <button
              style="background-color: #1c57c0; padding: 0.4rem 0.7rem; color: #ffffff; font-size: 1.1rem; border-radius: 0.5rem; box-shadow: none;"
            >
              Reset Password
            </button>
          </a>
        </td>
      </tr>

      <tr>
        <td style="padding-bottom: 1rem">
          If you did not make this request you can ignore this message or
          contact us if you are concerned about potential fraud on your account.
        </td>
      </tr>

      <tr>
        <td>Sincerely,</td>
      </tr>
      <tr>
        <td>JayCloud Customer Support</td>
      </tr>
    </table>

    {{> fixAppleMailNonHTMLBug}}
  </body>
</html>