<table
  style="
        padding: 0rem 1rem;
        background-color: #051937;
        color: #ffffff;
        width: 100%;
      "
>
  <tr>
    <td style="font-size: 1.7rem; text-align: start; padding: 0.5rem 1rem;">
      <div style="display: flex; align-items: center;">
        <img
          src="cid:jaycloud-logo"
          alt="JayCloud logo"
          style="width:30px; pointer-events: none;"
        />
        <p style="margin: 0rem; margin-left: 0.7rem;">JayCloud</p></div>
    </td>
  </tr>
</table>