<table
  style="
        padding: 0rem 1rem;
        background-color: #051937;
        color: #ffffff;
        width: 100%;
      "
>
  <tr>
    <td style="font-size: 1.7rem; text-align: start; padding: 0.5rem 1rem;">
      <img
        src="cid:jaycloud-logo"
        alt="JayCloud logo"
        width="30px"
        style="vertical-align: middle; margin-right: 0.2rem;"
      />
      JayCloud
    </td>
  </tr>
</table>